<!DOCTYPE html>
<html>
  <head> </head>
  <body> 
    <h1 id="PageTitle">Emergent Order Token Buyback Reverse Auction</h1>
    <div id="intro">
      <p id="welcome">Welcome to the Emergent Order auction website!</p>
    </div>
    <div id="auctions">
      <div class="auction-synopsis">
        <p>We are currently running one auction.</p>
      </div>
      <div class="auction-summary">
        <p>---Show current top 10 bids of current single auction.---</p>
      </div>
      <div class="bid-options">
        <p>---Show bid options if appropriate--</p>
      </div>
    </div>
  </body>
</html>