<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergent Order Token Buyback Auctions</title>
  </head>
  <body> 
    <p>Whoa</p>
    <table class="auction-summary-bids">
      <tr class="bid">
        <td class="bid-date">3/15/22 15:48:01</td>
        <td class="bid-amount">375</td>
        <td class="bid-addr">simpleledger:39848a3c07s2md3hu32jdhdyfjrq53a6yhgnyueava4</td>
      </tr>
      <tr class="bid">
        <td class="bid-date">3/14/22 23:37:07</td>
        <td class="bid-amount">445</td>
        <td class="bid-addr">simpleledger:3287583c07s2md3hu32jdhdyfjrq53a6yhgnyueava4</td>
      </tr>
    </table>
    <footer>
      <h1>I'm the footer!</h1>
    </footer>
  </body>
</html>